@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

@import "./variables.scss";
@import "./tabbar.scss";
@import "./tab.scss";
@import "./dropdown.scss";
@import "./layer-controls.scss";
@import "./led-editor.scss";
@import "./keymap-editor.scss";
@import "./plugin-picker.scss";
@import "./import-export.scss";
@import "./update.scss";
@import "./plugins.scss";

html {
  box-sizing: border-box;
  background: #232526;
  background: linear-gradient(to top, #414345, #232526);
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  /* background: white; */
  /* min-height: 300px; */
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}
h1 {
  color: var(--feature);
}

h2 {
  color: var(--feature);
  margin-bottom: 10px;
  padding-bottom: 3px;
  text-align: right;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
}

/* ---- */

.window {
  margin: 50px auto;
  border-radius: var(--window-radius);
  height: 470px;
  width: 1100px;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 1fr;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(to right, #29323c, #485563);
}

.dp-menu {
  p {
    padding-bottom: 4px;
    font-size: 0.8em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
