.layer-controls {
  display: flex;

  .layer-select {
    margin: auto 30px;
    min-width: 120px;
  }
}

.layer-name {
  margin: auto 0;
  > input {
    height: 32px;
    border-radius: 4px;
    width: 100px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Roboto";
    padding-left: 12px;
  }
}
