.plugin-controls {
  display: flex;

  .plugin-select {
    margin: auto;
    min-width: 120px;
  }
}

.macro-name {
  margin-right: 110px;
  margin-left: 0px;
}

.macro-select {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.del-macro {
  // position: absolute;
  // margin-right: 100px;
  // height: px;
  margin-top: 16px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
