@import "./variables.scss";

.tabBar {
  display: flex;
  flex-direction: column;
  border-radius: var(--window-radius) 0 0 var(--window-radius);
  background: rgba(0, 0, 0, 0.2);

  .overlay {
    position: absolute;
    background: var(--feature);
    height: 75px;
    width: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    &.active {
      opacity: 1;
    }
  }
}

.tabBar > * {
  flex-basis: 75px;
  display: grid;
  justify-content: center;
  align-content: center;

  &.item {
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    img {
      height: 27px;
    }
  }

  &.logo {
    background: rgb(26, 31, 37);
    border-radius: var(--window-radius) 0 0 0;

    display: grid;
    align-content: center;
    justify-content: center;

    img {
      height: 40px;
    }
  }
}
