.firmware-updater {
  margin-left: 30px;
  margin-top: 15px;
  > * {
    margin-top: 30px;
  }
}

.firmware-updater button {
  border-radius: 4px;
  // min-width: 1px;
  height: 32px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 0.9em;
  font-weight: 300;
  font-family: "Roboto";
  padding: 0 20px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.firmware-selector {
  width: 210px;
}

.current-firmware {
  margin: auto 0;
  > input {
    height: 32px;
    border-radius: 4px;
    min-width: 210px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    font-family: "Roboto";
    padding-left: 12px;
  }
}

.link {
  text-decoration: underline;
  // font-weight: bold;
}
